/* CSS CODE HERE */

* {
    margin: 0px;
    padding: 0px;
}

/*----- FIRST NAV BAR ------*/

#headerone{
    background: white;
    height: 32px;

}
#insiderheader{
    position: static;
    color: #081E3f;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; 
    font-style: normal;
    font-weight: bold;
    margin-left: 451px;
    margin-right: 451px;
    font-size: .77rem;
    
    
    
}
#fiuname{
    float: left;
    padding: 10px;
   

}
#portal{
    float: right;
}
#portals{
    float: left;
    padding: 10px;
}
#search{
    float: left;
    padding: 10px;
}
/* ------ SECOND NAV BAR */
#headertwo{
    background: #081E3f;
    height: 80px;
}
#insiderheadertwo{
    position: static;
    margin-right: 451px;
    margin-left: 451px;
    color: white;
    height:80px;
    
}
#fiumainimg{
    padding: 10px;
   
}
#fiutitle{
    height: 50px;
    width: 107px;
    float: left;
    margin-right: 20px;
}
li{
        display: inline;
        padding: 10px;
        font-family: 'Open sans', sans-serif;
        font-size: 14px;
        position: relative;
        margin: 0px;
        text-align: center;
        vertical-align: middle;
        float: left;
        padding-right: 15.2px;
        padding-left: 15.2px;
        font-weight: bold;
      
        
    
    
} 
#navlist{
    margin: 0px;
    pad: 0px;
    height: 50px;
}
/* --------- HERO SECTION ------------- */

#herosectioncontainer{
    height: 720px;
    width: 1903px;
    margin: 0px;
    padding: 0px;
}
#video{
    /* display: inline-block; */
    position: relative;
    min-width: 100%;
    height: 720px;
    margin: 0px;
    padding: 0px;
    
  }
  #herotext{
    display: inline;
    position: absolute;
    font-size: 1.25rem;
    color: white;
    text-shadow: 0 1px 10px rgba(0,0,0,0.3);
    font-family: "Bitter",Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
    top: 350px;
    left: 25%;
    
    
  }
  /* #herobutton{
    position: absolute;
     -webkit-transform: translateX(50%);
    transform: translateX(50%); 
   content: "/f023";
    margin: 0;
   
    background: white;
    border-radius: 6px;
    color: #081E3f;
    padding: 10px 20px;
  }*/

  /* --------- WORLDS AHEAD ---------- */

  #worldstext{
       margin-left: 451px; 
       margin-right: 451px; 
  }
  #worldstext h2{
    font-family: "Bitter",Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
    color: #081E3f;
    padding: 10px;
  }
  #worldstext p{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    padding-left: 10px;
    padding-bottom: 20px;

  }

  /* --------- DEGREES ------------ */

  #degrees{
      background: #081E3f;
      
     
  }
  #degreestext{
    margin-left: 451px;
    margin-right: 451px;
    padding-bottom: 20px; 
  }
#text{
    color: white;

}
#text h2{
    font-family: "Bitter",Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
    margin: 0.1rem 0 0.7rem 0;
    line-height: 1.2em;
    padding-top: 10px;
}
#text p{
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}
#degreesimg{
    height: 273px;
    width: 386px;
    float: right;
}
.degreestext{
    float: left;
}
