/* CSS CODE HERE */

* {
    margin: 0px;
    padding: 0px;
}

/*----- FIRST NAV BAR ------*/

#headerone{
    background: white;
    height: 32px;

}
#insiderheader{
    position: static;
    margin-left: 0 auto;
    margin-right: 0 auto;
}